<p><iframe width="600" height="500" src="https://player.vimeo.com/external/464577834.sd.mp4?s=451ed85ea96ff4339fe5919e385b32ed3a11358b&profile_id=164&oauth2_token_id=57447761">
</iframe>
Mixture of flour and liquid with other ingredients, such as leavening agents,
shortening, sugar, salt, eggs, and various flavourings, 
used to make baked goods and other food products
</p>
<br>
<p>
    <iframe width="600" height="500" src="https://player.vimeo.com/external/567367834.sd.mp4?s=4a086bada99e183aa42e9e38934ad08d9c297384&profile_id=164&oauth2_token_id=57447761">
    </iframe>
    This olive oil cake has a light and fragrant sponge texture with 
    a hint of zesty lemon. Made in one bowl, it's a great beginner cake recipe!
    </p>
<br>
<p>
<iframe width="600" height="500" src="https://player.vimeo.com/external/470614606.sd.mp4?s=4179f0602f5142ea877d5db7bc26463edb38494e&profile_id=164&oauth2_token_id=57447761">
</iframe>
Pinata cake can be described as a shell-based cake that has been
filled with some fun treats which are too edible.</p>
<br>

<p>
<iframe width="600" height="500" src="https://player.vimeo.com/external/473269376.sd.mp4?s=752e6e206b443057269273594697fddaad0e5675&profile_id=164&oauth2_token_id=57447761">
</iframe>
We offer cakes of different flavors, fillings, and sizes.
 Additionally, we provide simple online ordering and delivery options</p>
<br>
<p>
<iframe width="600" height="500" src="https://player.vimeo.com/external/516564543.sd.mp4?s=0ef1b83c79df15ffd6e5bc42434058802d332e82&profile_id=165&oauth2_token_id=57447761">
</iframe>
Cake is one of the most popular desserts. The name of the cake varies from country to country, such as cakes, cookies and regular cakes. 
The process of making just include prepare batter, bake and frost.</p>
<br>
<p>
<iframe width="600" height="500" src="https://player.vimeo.com/external/514475798.sd.mp4?s=7a182bd24aca2504f61989d5b0a385e8599f7613&profile_id=164&oauth2_token_id=57447761">
</iframe>
Golden Happiness Buttery Cream Specialty Bun is a delectable treat at breakfast or any time
 of day! Each bite of this fluffy and coconut-dusted.
</p>
<br>

<br>
<p>
<iframe width="600" height="500" src="https://player.vimeo.com/external/537463053.sd.mp4?s=9bfb26dc071d03d22c7963d07254eb4aea452c95&profile_id=164&oauth2_token_id=57447761">
</iframe>
The primary ingredient is are fresh strawberries.  
Strawberries are used  in  a cakes batter, atop the cake, & for frosting  
Strawberry cakes are typically served cold. 
</p>
<br>

 
 