<p> 
<iframe width="600" height="500" src="https://player.vimeo.com/external/537463053.sd.mp4?s=9bfb26dc071d03d22c7963d07254eb4aea452c95&profile_id=164&oauth2_token_id=57447761">
</iframe>
 Strawberry cake is a cake that uses strawberry   as a primary ingredient.  
 Strawberries are used  in  a cakes batter, atop the cake, & for frosting  
 Strawberry cakes are typically served cold. </p>
<br>
<p> 
<iframe width="600" height="500" src="https://player.vimeo.com/external/473269376.sd.mp4?s=752e6e206b443057269273594697fddaad0e5675&profile_id=164&oauth2_token_id=57447761">
</iframe>
Peanut, almond and hazelnut are all great paired with darker chocolate and add a delicious
 texture dimension whether used in your cake sponge or topping. </p>
<br>
<p>
<iframe width="600" height="500" src="https://player.vimeo.com/external/514475798.sd.mp4?s=7a182bd24aca2504f61989d5b0a385e8599f7613&profile_id=164&oauth2_token_id=57447761">
</iframe>
Golden Happiness Buttery Cream Specialty Bun is a delectable treat at breakfast or any time
 of day! Each bite of this fluffy and coconut-dusted.
</p>
<br>
<p>
    <iframe width="600" height="500" src="https://player.vimeo.com/external/537463053.sd.mp4?s=9bfb26dc071d03d22c7963d07254eb4aea452c95&profile_id=164&oauth2_token_id=57447761">
    </iframe>
    We started offering various cake flavors of various fillings, and sizes.
     Additionally, we provide simple online ordering and delivery options
    </p>
    <br>
<p>
<iframe width="600" height="500" src="https://player.vimeo.com/external/623673715.sd.mp4?s=899c544a4f020a83b1390e4a62bc0048216a90c8&profile_id=164&oauth2_token_id=57447761">
</iframe>
 The primary ingredient is are fresh strawberries.  
 Strawberries are used  in  a cakes batter, atop the cake, & for frosting  
 Strawberry cakes are typically served cold. 
</p>
<br>
<p>
<iframe width="600" height="500" src="https://player.vimeo.com/external/567367834.sd.mp4?s=4a086bada99e183aa42e9e38934ad08d9c297384&profile_id=164&oauth2_token_id=57447761">
</iframe>
This olive oil cake has a light and fragrant sponge texture with 
a hint of zesty lemon. Made in one bowl, it's a great beginner cake recipe!
</p>
<br>

<p>
<iframe width="600" height="500" src="https://player.vimeo.com/external/473269376.sd.mp4?s=752e6e206b443057269273594697fddaad0e5675&profile_id=164&oauth2_token_id=57447761">
</iframe>
We offer cakes of different flavors, fillings, and sizes.
 Additionally, we provide simple online ordering and delivery options
<br></p>
 