 
.prodimg{
    height: 200px;
    width:200px;
    margin-top: 100px;

}  
marquee{font-size: 40px;}
.prodimage{
    height:280px;
    width:320px;
    right:50%;
    margin-top: 10px;
    border-style: inset ;
   

}  
.col-lg-7{font-size: 20px;}
 
  