 <marquee>We also Deliver Yummy Desserts. Order now!    </marquee>
<div style="margin-top: 30px;">
<div class="row">
    <!--1st column-->
    <div class="col col-lg-3">
        <app-advertisement></app-advertisement>
    </div>

    <!--2nd column-->
    <div class="card col-lg-6">
        <div *ngFor="let product of product">
        <div class="card-body col-lg-12">
            <div class="row" style="border-style:solid;border-color:black;border-radius:15px;">
                
                   <img [src]="product.image" class="prodimage">
                 
                <div class="col-lg-7">
                    
                        Product: {{product.pname}}
                        <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
                        <a href="#" class="btn btn-warning" onclick="alert('Your order have been placed')">Buy</a>
                   
                    <br>
                    <div [hidden]="productdetails">
                        Description: {{product.pdescription}}
                        <br>
                        Price: {{product.price | currency:'INR'}}
                    </div>
                    <br>
                    <app-counter></app-counter>
               </div>

            </div>
        
        
    </div>
 
</div>
</div>

    <!--3rd column-->
    <div class="col col-lg-3">
        <app-ads></app-ads >
    </div>
</div>
</div>