
<!DOCTYPE html>
<head>

</head>
<body>
<h2>Whipped Products</h2>
 
 

    
   
   
<div class="row">
  <div class="column">
    <img src="/assets/caramel.jpg" class="d-block w-100" alt="CSS">
    <div style="float: left; margin: 40px ;">
        <p>FRUIT & coco -₹500</p>
    </div>
    <div style="float: right; margin:  40px ;">
        <button class="btn" onclick="alert('Your order have been placed')">ORDER</button>
    </div>
  </div>

  <div class="column">
    <img src="/assets/pist.jpg" class="d-block w-100" alt="CSS">
    <div style="float: left; margin: 40px ;">
        <p>PISTA & sprinkles:₹450</p>
    </div>
    <div style="float: right; margin:  40px ;">
        <button class="btn" onclick="alert('Your order have been placed')">ORDER</button>
    </div>
  </div>

  <div class="column">
    <img src="/assets/bisc.jpg" class="d-block w-100" alt="CSS">
    <div style="float: left; margin: 40px ;">
        <p>BISCUIT & coco:₹600</p>
    </div>
    <div style="float: right; margin:  40px ;">
        <button class="btn" onclick="alert('Your order have been placed')">ORDER</button>
    </div>
  </div>

  <div class="column">
    <img src="/assets/w4.jpg" class="d-block w-100" alt="CSS">
    <div style="float: left; margin: 40px ;">
        <p>MANGO & vanila:₹600</p>
    </div>
    <div style="float: right; margin:  40px ;">
        <button class="btn" onclick="alert('Your order have been placed')">ORDER</button>
    </div>
  </div>

  <div class="column">
    <img src="/assets/w5.jpg" class="d-block w-100" alt="CSS">
    <div style="float: left; margin: 40px ;">
        <p>APPLE & pie:₹650</p>
    </div>
    <div style="float: right; margin:  40px ;">
        <button class="btn" onclick="alert('Your order have been placed')">ORDER</button>
    </div>
  </div>

  <div class="column">
    <img src="/assets/w6.jpg" class="d-block w-100" alt="CSS">
    <div style="float: left; margin: 40px ;">
        <p>FRUIT & current:₹700</p>
    </div>
    <div style="float: right; margin:  40px ;">
        <button class="btn" onclick="alert('Your order have been placed')">ORDER</button>
    </div>
    
  </div>
</div>