 
.prodimg{
  height: 200px;
  width:200px;
  margin-top: 100px;

}  
marquee{font-size: 40px;}
.prodimage{
  height:300px;
  width:340px;
 
  margin-top: 10px;
  border-style: inset ;
 

}  
.col-lg-7{font-size: 20px;}

